* {
  box-sizing: border-box;
  margin: 0;
  color: #333;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  /* background-color: rgb(246, 242, 233); */
  background-color: #f6f2e9;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* margin: 0 auto; */
}

header {
  /* width: 80vw; */
  /* margin: 0 auto; */
  padding: 3rem 4.4rem;
  /* height: 30vh; */
}

header nav {
  display: flex;
  justify-content: space-between;
  /* gap: 48rem; */
  font-size: 3.2rem;
}

nav > ul {
  margin-top: 1.2rem;
  font-size: 2rem;
  display: flex;
  gap: 3.2rem;
  list-style: none;
  margin-right: 16rem;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  /* color: #f5f1e6; */
  cursor: pointer;
  transition: color 0.3s;
}

nav a:hover,
nav a:active {
  color: #7d5e47;
}

.logo > a:link,
.logo > a:visited {
  text-decoration: none;
  font-weight: 700;
  padding: 2rem;
}

/* .logo > a:hover,
.logo > a:active {
} */

.about-section-container {
  display: flex;
  gap: 5.4rem;
}

.about-section-container img {
  border-radius: 3px;
}

.about-container {
  /* display: flex; */
  /* flex-direction: column; */
  height: 46%;
}

.main-img {
  min-width: 38rem;
  width: 340rem;
  max-width: 340rem;
  height: 62rem;
}

.about-header {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 12rem;
}

.about-description {
  letter-spacing: 0.6px;
  font-size: 2rem;
  line-height: 1.6;
  width: 55%;
  min-height: 20rem;
  min-width: 55rem;
}

.interest-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10rem;
}

.interest-basketball-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest-reading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest-img {
  min-width: 34rem;
  width: 80%;
  height: 60%;
}

.interest-img + h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.2rem;
}

.interest-img ~ p {
  letter-spacing: 0.6px;
  font-weight: 500;
  width: 42rem;
  margin: 0 auto;
  font-size: 1.4rem;
  margin-top: 1.6rem;
  margin-bottom: 4rem;
  min-height: 22rem;
}

@media screen and (max-width: 1500px) {
  .main-img {
    min-width: 38rem;
    width: 240rem;
    max-width: 340rem;
    height: 62rem;
  }

  .about-header {
    font-size: 1.4rem;
    letter-spacing: 3px;
  }

  .interest-img + h2 {
    font-size: 1.8rem;
  }

  .interest-img ~ p {
    font-size: 1.2rem;
    width: 38rem;
  }

  .about-description {
    font-size: 1.6rem;
  }

  .interest-container {
    width: 75%;
    margin-top: 7.2rem;
  }

  .interest-img {
    /* min-width: 34rem; */
    width: 75%;
    height: 60%;
  }
}

@media screen and (max-width: 1180px) {
  .interest-container {
    width: 85%;
    margin-top: 7.2rem;
  }
}

@media screen and (max-width: 1080px) {
  .about-header {
    margin-bottom: 8rem;
  }

  .main-img {
    min-width: 38rem;
    width: 140rem;
    max-width: 340rem;
    height: 52rem;
  }

  .about-description {
    width: 80%;
    min-width: 30rem;
    font-size: 1.4rem;
  }

  .interest-container {
    width: 85%;
    margin-top: 7.2rem;
  }

  .interest-img + h2 {
    font-size: 1.6rem;
  }

  .interest-img ~ p {
    font-size: 1.2rem;
    width: 34rem;
  }
}

@media screen and (max-width: 900px) {
  .main-img {
    min-width: 34rem;
  }

  .interest-container {
    width: 100%;
    flex-direction: column;
  }

  .interest-img {
    width: 50%;
    height: 50%;
  }

  .interest-img + h2 {
    font-size: 2rem;
  }

  .interest-img ~ p {
    font-size: 1.4rem;
    line-height: 1.3;
    width: 42rem;
  }
}

@media screen and (max-width: 780px) {
  .about-header {
    margin-bottom: 5.4rem;
  }

  .main-img {
    min-width: 28rem;
    height: 46rem;
  }

  .about-description {
    width: 80%;
    min-width: 26rem;
    font-size: 1.2rem;
  }

  .interest-img {
    width: 35%;
    height: 35%;
  }

  .interest-img + h2 {
    font-size: 1.6rem;
  }

  .interest-img ~ p {
    font-size: 1.2rem;
    line-height: 1.3;
    width: 34rem;
  }
}

@media screen and (max-width: 650px) {
  .main-img {
    min-width: 22rem;
    height: 46rem;
  }

  .about-header {
    margin-bottom: 2.4rem;
  }

  .about-description {
    line-height: 1.3;
    min-width: 20rem;
    letter-spacing: 0.2px;
  }

  .interest-img {
    width: 20%;
    height: 20%;
  }

  .interest-img + h2 {
    font-size: 1.4rem;
  }

  .interest-img ~ p {
    font-size: 1.1rem;
    line-height: 1.1;
    width: 34rem;
  }
}
